# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local datasets
*.csv

# Environment variables
.env